@model CreateCategoryDto

@{
    ViewData["Title"] = "Yeni Kategori Ekle";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Kategori Ekle</h4>
            <p class="card-subtitle mb-4">
                Platforma yeni bir kategori eklemek için aşağıdaki formu doldurun.
            </p>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }

            <form method="post">
                <div class="form-group">
                    <label for="categoryName">Kategori Adı</label>
                    <input type="text" class="form-control" id="categoryName" asp-for="Name" required />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>
                <a href="/Admin/AdminCategory/Index" class="btn btn-secondary">Geri</a>
            </form>
        </div>
    </div>
</div>
