
@model CreateResourceDto
@{
    ViewData["Title"] = "CreateResource";
    Layout = "~/Areas/Student/Views/StudentLayout/Index.cshtml";
}
<div class="container">
    <h2>Yeni Kaynak Ekle</h2>

    

    <form method="post">
        <div class="form-group">
            <label>Başlık</label>
            <input type="text" asp-for="Title" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Açıklama</label>
            <textarea asp-for="Description" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label>Dosya URL</label>
            <input type="text" asp-for="FileUrl" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="categoryId">Kategori Seç</label>
            <select asp-for="CategoryId" class="form-control">
                <option value="">Lütfen bir kategori seçin</option>
                @if (ViewBag.Categories != null)
                {
                    @foreach (var category in ViewBag.Categories as List<SelectListItem>)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="CategoryId"></span>
        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a href="/Student/StudentResource/Index" class="btn btn-secondary">Geri</a>
    </form>
</div>
