<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="navbar-brand-box">
            <a href="/Admin/AdminDashboard/Index/" class="logo">
                <i class="mdi mdi-book-open-variant"></i>
                <span>Education Admin</span>
            </a>
        </div>

        <!-- Sidebar Menü -->
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Yönetim Paneli</li>

                <li><a href="/Admin/AdminDashboard/Index/" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a></li>
                <li><a href="/Admin/AdminStatistics/Index" class="waves-effect"><i class="fas fa-chart-pie"></i><span>İstatistikler</span></a></li>
                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>Siteye Git</span></a></li>

                <li class="menu-title">İçerik Yönetimi</li>
                <li><a href="/Admin/AdminCategory/Index/" class="waves-effect"><i class="fas fa-folder"></i><span>Kategoriler</span></a></li>
                <li><a href="/Admin/AdminResource/Index/" class="waves-effect"><i class="fas fa-book"></i><span>Kaynaklar</span></a></li>
                <li><a href="/Admin/AdminCourse/Index/" class="waves-effect"><i class="fas fa-chalkboard-teacher"></i><span>Kurslar</span></a></li>
                <li><a href="/Admin/AdminArticle/Index/" class="waves-effect"><i class="fas fa-newspaper"></i><span>Makaleler</span></a></li>
                <li><a href="/Admin/AdminBanner/Index/" class="waves-effect"><i class="fas fa-image"></i><span>Banner Yönetimi</span></a></li>
                <li><a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="fas fa-info-circle"></i><span>Hakkımızda</span></a></li>
                <li><a href="/Admin/AdminContact/Index/" class="waves-effect"><i class="fas fa-phone"></i><span>İletişim Bilgileri</span></a></li>
                <li><a href="/Admin/AdminMessage/Index/" class="waves-effect"><i class="fas fa-phone"></i><span>Mesajlar</span></a></li>
                <li><a href="/Admin/AdminSocialMedia/Index/" class="waves-effect"><i class="fas fa-phone"></i><span>Mesajlar</span></a></li>

                <li class="menu-title">Kullanıcı Yönetimi</li>
                <li><a href="/Admin/AdminUser/Index/" class="waves-effect"><i class="fas fa-user"></i><span>Kullanıcılar</span></a></li>
                <li><a href="/Admin/AdminInstructors/Index/" class="waves-effect"><i class="fas fa-chalkboard-teacher"></i><span>Eğitmenler</span></a></li>
                <li><a href="/Admin/AdminSubscribers/Index/" class="waves-effect"><i class="fas fa-users"></i><span>Aboneler</span></a></li>

                <li class="menu-title">Etkileşim</li>
                <li><a href="/Admin/AdminComments/Index/" class="waves-effect"><i class="fas fa-comment-dots"></i><span>Yorumlar</span></a></li>
                <li><a href="/Admin/AdminTestimonials/Index/" class="waves-effect"><i class="fas fa-users"></i><span>Görüşler</span></a></li>
                <li><a href="/Admin/AdminMessages/Index/" class="waves-effect"><i class="fas fa-envelope"></i><span>Mesajlar</span></a></li>

                <li class="menu-title">Sistem Yönetimi</li>
                <li><a href="/Admin/AdminPayments/Index/" class="waves-effect"><i class="fas fa-money-bill-alt"></i><span>Ödeme İşlemleri</span></a></li>
                <li><a href="/Admin/AdminSettings/Index/" class="waves-effect"><i class="fas fa-cogs"></i><span>Ayarlar</span></a></li>
                <li><a href="/Admin/AdminSocialMedia/Index/" class="waves-effect"><i class="fas fa-share-alt"></i><span>Sosyal Medya</span></a></li>

                <li class="menu-title">Çıkış</li>
                <li><a href="/Admin/Account/Logout/" class="waves-effect"><i class="fas fa-sign-out-alt"></i><span>Çıkış Yap</span></a></li>
            </ul>
        </div>
    </div>
</div>
