@{
    ViewData["Title"] = "Tartışmalar";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<!-- Hero Alanı -->
<div class="slider-area">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2 class="fw-bold text-white">📢 Tartışmalar</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Bitiş -->

<!-- Blog Alanı -->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_DiscussionAllDiscussions")

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!-- Arama Kutusu -->
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Tartışma Ara..."
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Tartışma Ara...'">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary w-100 fw-bold py-2 rounded-pill shadow-sm" type="submit">
                                <i class="fas fa-search"></i> Ara
                            </button>
                        </form>
                    </aside>

                    <!-- Kategoriler -->
          

                    <!-- Son Tartışmalar -->
                    @await Component.InvokeAsync("_DiscussionRecentDiscussions")

                    <!-- Abonelik Alanı -->
                    @await Component.InvokeAsync("_DiscussionSubscribe")
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Alanı Bitiş -->
